.movie-card {
    height: 350px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 30px 0 30px;
    padding: 20px;
    background-color: #546E7A;
    border-radius: 20px;
    border-width: 2px;
    border-color: #ffffff;
    box-shadow: 10px 10px 5px 0px #272727;
}
.card-left {
    flex: 1;
}
.card-right {
    margin-left: 10px;
    flex: 1;
}
.title {
    margin-top: 30px;
    margin-bottom: 10px;
    color: #ffffff;
    font-weight: 400;
    font-size: x-large;
    font-family: 'ConcertOne', sans-serif;
}
.year {
    color: #ebeaea;
}
.movie-length {
    color: #ebeaea;
}
.rating {
    margin-top: 4px;
    display: flex;
    font-weight: 500;
}
.rate-num {
    color: rgb(243, 242, 242);
}
.outOf {
    color:#b9b7b7;
}
.star {
    margin-right: 5px;
}