.select-container {
    display: flex;
    justify-content: space-between;
}
.select-genre {
    height: 40px;
    width: 300px;
    border-radius: 50px;
    font-weight: bold;
    text-align: center;
    font-size: larger;
}
.search {
    width: 150px;
    margin-left: 20px;
}
.spacer {
    width: 150px;
    margin-left: 20px;
}